xcuserdata/
.env
.DS_Store
BCC Media tvOS.app.dSYM.zip
BCC Media tvOS.ipa
BCC Media tvOS/Localization/.crowdin_token
tmp/
BCC Media tvOS/BCC Media tvOS.xcodeproj/xcshareddata/xcschemes/BCC Media tvOS.xcscheme

*.cer
*.p12
*.mobileprovision
