key_id, issuer_id and the `key` can be obtained by creating an API key at https://appstoreconnect.apple.com/access/integrations/api.

{
    "key_id": "",
    "issuer_id": "",
    "key": "-----BEGIN PRIVATE KEY-----\n-----END PRIVATE KEY-----",
    "duration": 1200,
    "in_house": false
}